<div class="menu-container" style="display: flex; height: 100vh;">
  <!-- Menu latéral -->
  <div class="menu" style="width: 250px; background-color: #4b358d; padding: 20px; color: white;">
    <h3 style="font-weight: bold;">Gestion des Événements</h3>
    <ul class="list-unstyled">
      <li><a href="#" style="color: white; text-decoration: none; font-size: 1.2rem;">Événements à venir</a></li>
      <!-- <li><a href="#" style="color: white; text-decoration: none; font-size: 1.2rem;">Mes événements</a></li> -->
    </ul>
  </div>

  <!-- Contenu principal -->
  <div class="main-content" style="flex-grow: 1; padding: 20px;">
    <!-- Contenu dynamique de l'application -->
    <router-outlet></router-outlet>
  </div>
</div>
